.main {
    padding: 10px 20px;
}

.phonetic-con {
    display: flex;
    align-items: center;
}

.word-text {
    font-size: 2.5em;
    margin: 0;
}

.word-play {
    padding-top: 5px;
    font-size: 36px;
    margin-left: 10px;
    cursor: pointer;
}
.word-play:hover {
    color: gray;
}

@media (min-width: 600px){
    .main {
        padding: 10px 30px;
    }
}