.linked-word-con {
    padding-bottom: 10px;
}

.ref-item {
    color: blue;
    cursor: pointer;
}

.ref-item:hover {
    color: blueviolet;
}

.definition h2 {
    font-style: italic;
}

.definition li > p {
    font-size: 1.1em;
}